*
{
    background: #DCDADF;
}
.header{
    text-align: center;
    font-size: 20pt;
    color: black;
}

.header h1{
    background-color: #BFA0E1;
}

h1 {
    font-weight: 300;
}
.navigation{
    width: 100%;
    overflow: auto;
}

.navigation a{
    background-color: #BFA0E1;
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 18%;
    text-align: center;
}
